<header class="cls-header">
    <nav class="navbar navbar-dark bg-primary px-4">
        <!-- Navbar content -->
        <h6>Universidad libre</h6>


        <div class="d-flex flex-row">
            <button *ngIf="servicioBackend.isAutenticate" type="button" class="btn btn-light"
                routerLink="/admin-usuarios">G. usuarios</button>

            <button *ngIf="servicioBackend.isAutenticate" type="button" class="btn btn-light"
                routerLink="/programas-en-oferta">Ver programas en
                oferta</button>
        </div>


    </nav>
</header>

<div class="p-5" id="id-login">
    <router-outlet></router-outlet>
</div>

<footer class="bg-light text-center text-lg-start cls-footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>